<nav class="sidebar">
    <div class="sidebar-header">
      <img src="../assets/logo-icon.svg" alt="DICOM Album" class="sidebar-logo">
    </div>
    
    <ul class="sidebar-menu">
      <li class="menu-item" data-page="uploader">
        <img src="../assets/upload-icon.svg" alt="Upload">
        <span>Upload DICOM</span>
      </li>
      
      <li class="menu-item" data-page="albums">
        <img src="../assets/album-icon.svg" alt="Albums">
        <span>Manage Albums</span>
      </li>
      
      <li class="menu-item" data-page="viewer">
        <img src="../assets/viewer-icon.svg" alt="Viewer">
        <span>DICOM Viewer</span>
      </li>
      
      <li class="menu-item" data-page="home">
        <img src="../assets/home-icon.svg" alt="Home">
        <span>Return Home</span>
      </li>
    </ul>
  </nav>